{%extends "base.html"%}
{% load bootstrap3 %}
{% block content %}
<style>
  body{
    background-color: black;
  }
  
  .card{
    background-color:black;
    color: #ffda22;
  }
  .top {
    color: #ffda22;
    
  }
  .top img{
    width:80% ;
    height: 80%;
  }
</style>
<div class="container">
    <div class="row">
        
        <div class=" col-md-6">
          <div class="top text-center">
            <img src="../../../static/images/warn.png" alt="">
            <h1>If I don't call the police, my neighbour will!</h1>
          </div>
        </div>
        <div class="col-md-6 ">
            
                
                {% if form.errors %}
                <p> Password or Username is incorrect </p>
              {% endif %}
              <div class="card">
        
                <div class="card-header">
                    <h1 class="text-center">sign in</h1>
                </div>
                <div class="card-body">
        
                  <form  action="" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form%}
        
                    <div class="form-group">
                      <input type="submit" class="btn btn-outline-warning" value="Login">
                    </div>
                    <div class="card-body">
                        <a href="/accounts/password_reset/">forgot password?</a><br>
                        Don't have an account? <a href="/register">Sign up</a>
                    </div>
                    <input type="hidden" name="next" value="{{next}}">
        
                  </form>
        
                </div>
        
              </div>    
            </div>
           
        
        </div>
    
    </div>
    
    
    



{% endblock %}