{% extends 'base.html' %}
{% block content %}
{{block.super}}
<div class="container">

    <h4 class="text-center">Businesses within {{hood.name}}</h4>
    <hr>
    <!--search form-->
    <form id="search" class="navbar-form " role="search" action="{% url 'search' %}">

        <div class="input-group">
          <input type="text" class="form-control text-center" placeholder="search business" name="query">
          <button type="submit" class="btn btn-outline-warning btn-sm"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
  
      </form>

    <div class="row">
       {% for biz in business %}
       <div class="col-md-4">
       <div class="card">
           <div class="card-header">
               <p>{{biz.name}}</p>
               <p> {{biz.email}}</p>
           </div>
           <div class="card-body">
               <p>{{biz.description}}</p>
           </div>
       </div>
       </div>
       {% endfor %}
    </div>
 

</div>
{% endblock %}